@using TravelTrip_MVCProject.Models.Classes
@model List<BlogTBL>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}
<!--****** BURASI ANA SAYFA ******-->

<div class="header-banner">
    <div class="wrap">
        <div class="banner">
            <div class="indent">
                <h2 class="indent-left margin-bot"> Seyahat Günlüğümüz </h2>
                <div class="banner-left">
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/Themes/web/images/glass.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p> Restaurantlar </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/Themes/web/images/flight.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p> Uçuşlar </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/Themes/web/images/group.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p> Yapılan Aktiviteler </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="con-text">
                        <div class="grid1-img">
                            <img src="~/Themes/web/images/key.png" alt="">
                        </div>
                        <div class="grid1-desc">
                            <p> Seyahat Püf Noktaları </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header_bottom_right_images">

                    <div class="slider" style="width: 640px; height: 360px;">
                        <ul class="rslides" id="slider1">
                            @foreach (var blogImage in Model)
                            {
                                <li><img src="@blogImage.BlogFoto" alt="Recent Blog Slider Images" style="height: 360px;"></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class"content">
    <div class="wrap">
        <div class="wrapper">
            <div class="con-top">
                <h3> Biz Kimiz? </h3>
                <p> Bu proje ASP.Net MVC5'de CodeFirst Entity Framework yapısı kullanılarak Youtube'da bulunan 50 derslik bir eğitim serisi kapsamında örnek proje olarak geliştirilmiştir. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                </p>
            </div><br />
            <div class="clear"></div>
            <div class="grids">
                <div class="box1">
                    @Html.Action("partialViewTop10", "anasayfa")

                    <!--** Anasayfa'da yer alan bölümü ilgili controllerdan Partial View oluşturarak aynı şekilde yapmış oldum. **-->
                    @Html.Action("indexPartial1", "anasayfa")
                    
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>